*{
    margin:0 ;
    
}
body{
    background-color: rgb(26, 26, 37);
}
.mainbox{
    width: 250px;
    height: 480px;
    background-color: #fff;
    margin: 100px 500px;
    position: relative;
}
#display{
    position: absolute;
    height: 50px;
    width: 220px;
    background-color: rgb(23, 21, 19);
    margin: 10px 15px;
    border-radius: 10px;
    overflow: hidden;
}
#display p{
    pad: 5px 5px;
    font-size: 20px;
    color: white;
    position: absolute;
    right: 10px;
    top: 15px;
}
#numpad{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 290px;
    /* display: flex; */
}
#numpad span{
    width: 90%;
    display: flex;
    margin: 20px auto;
}
#numpad span li{
  height: 40px;
    list-style: none;
    width: 50px;
    font-size: 30px;
    padding: 5px 10px;
    margin: 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
}
#equal-btn{
    padding: 5px 10px;
    margin: 5px 5px;
    font-size: 30px;
    width: 80px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
}
#clear-btn{
    padding: 5px 10px;
    margin: 5px 5px;
    font-size: 30px;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: rgb(177, 105, 105);
    color: white;
}